@import url('https://fonts.googleapis.com/css?family=Raleway: 100,200,300,400,500');

/*---------------------navbar */

.navbar {
    background-color: #ffffff;
}

.navbar-brand img {
    height: 80px;
    transition: 1s;
}

.navbar-nav {
    padding-left: 30px;
}

/*---------------------header */

.masthead {
    height: 100vh;
    min-height: 500px;
    background: url(../images/headerimg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    text-shadow: 2px 2px #383737;
}

.darken {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4));
}


.btn {
    color: #ffffff;
    font-weight: 600;
    background-color: #FFBD59;
}

.btn:hover {
    color: #ffffff;
    background-color: #fc7e3a
}

/*---------------------home */
.home {
    padding: 0px 0px 0px 20px 
}

.home img {
    height: 200px;
    padding-top: 20px;
}

h2 {
    font-size: 1.5rem;
}

.btn-home {
    color: #000000;
    font-weight: 600;
    background-color: #FFBD59;
    border-color: transparent;
}

.btn-home:hover {
    color: #000000;
    background-color: #fc7e3a
}

/*---------------------tour-intro */

.card {
    border: none;

}

.card-img {
    height: 450px;
}

.card-text  {
    color: #ffffff;
    display: none;
    position: relative;
    background-color: #fc7e3a;
    padding: 0px 10px 0px 10px ;
}


.img-hover-zoom {
    overflow: hidden;
    
}

.img-hover-zoom img {
    transition: transform 2s ease-in-out;
}

.img-hover-zoom:hover img {
    transform: scale(1.3);
}

.tour-intro-title {
    padding: 20px;
}

.tour-intro {
    padding: 100px 0px 100px 0px;
    background-color: #fff9ef;
}

/*---------------------tour-intro */

@media (min-width: 1200px) {
    .home {
        padding: 100px;
    }
}