@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One%7CLobster%7CKarla&display=swap');

body {
    font-family: 'karla', sans-serif;
}

/*---------------------navbar */

.navbar {
    background-color: #ffffff;
}

.navbar-brand img {
    height: 80px;
    transition: 1s;
}

.navbar-nav {
    padding-left: 30px;
}

/*---------------------header */

.masthead {
    height: 100vh;
    min-height: 500px;
    background: url(../images/headerimg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    text-shadow: 2px 2px #383737;
}

.darken {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5));
}

/*---------------------headings & buttons */

.btn {
    color: #ffffff;
    font-weight: 700;
    background-color: #FFBD59;
}

.btn:hover {
    color: #ffffff;
    background-color: #fc7e3a
}

.btn-one {
    color: #000000;
    font-weight: 600;
    background-color: #FFBD59;
    border-color: transparent;
}

.btn-one:hover {
    color: #000000;
    background-color: #fc7e3a;
}

.btn-two {
    color: #000000;
    font-weight: 500;
    background-color: #C3DBE5;
    border-color: transparent;

}

.btn-two:hover {
    color: #000000;
    background-color: #9BC3D3;
}


.btn-three {
    color: #000000;
    font-weight: 500;
    background-color: #CBF4D7;
    border-color: transparent;

}

.btn-three:hover {
    color: #000000;
    background-color: #BAE0C5;
}


.btn-four {
    color: #000000;
    font-weight: 500;
    background-color: #F4FFC3;
    border-color: transparent;

}

.btn-four:hover {
    color: #000000;
    background-color: #EDFCA9;
}

.btn-five {
    color: #000000;
    font-weight: 500;
    background-color: #E8C2DF;
    border-color: transparent;

}

.btn-five:hover {
    color: #000000;
    background-color: #D3B1CB;
}

.btn-six {
    color: #000000;
    font-weight: 500;
    background-color: #FFB1C6;
    border-color: transparent;

}

.btn-six:hover {
    color: #000000;
    background-color: #FF92AF;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

/*---------------------home */

.home {
    padding-top: 50px;
}

.home img {
    height: 200px;
    padding-top: 20px;
}

/*---------------------tour */

#tour-section {
    padding-top: 100px;
}

.tour-icons {
    padding-bottom: 40px;
}

.tour-button {
    padding-left: 30px;
}

.book-button {
    padding-bottom: 40px;
}

.tour-body {
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tour-info {
    padding: 30px 0px 20px 0px;
}

.tour-img {
    height: 200px;
    width: 200px;
}

.tour-info {
    display: none;
}

.content-image {
    height: 80px;
    width: 80px;
}

#book {
    padding: 10px 0px 10px 0px;
}

.form-check-label {
    padding: 10px 0 10px 10px;
}

.form-check-inline {
    display: inline-block;
}

/*---------------------plan-section */

#plan-section {
    padding-top: 100px;
}

/*---------------------map */

#map {
    height: 300px;
    border-radius: 5px;
}

#mapTwo {
    height: 300px;
    border-radius: 5px;
}

.map {
    padding-bottom: 50px;
}

/*---------------------weather-section */

#weather-section {
    padding-top: 100px;
    padding-bottom: 30px;
}

.weatherSearch {
    padding-top: 50px;
}

.weather-button {
    padding-top: 10px;
}

.weatherIcon {
    height: 80px;
    width: 80px;
}

.temp {
    padding-left: 50px;
}

/*---------------------booking modal*/

.modal-form {
    padding: 10px 10px 0px 10px;
}

/*---------------------footer */

.footer-text {
    color:  #808080;
    padding: 80px 0px 10px 0;
}
/*---------------------media queries */

@media (min-width: 1200px) {
    .home {
        padding: 100px;
    }
    .form-check-label {
        padding-left: 20px;
    }

}
